
//phone
@mixin older-phone {
  @media screen and (max-width: 425px) {
    @content;
    }
}

//phone
@mixin phone {
  @media screen and (min-width:426px) and (max-width: 992px) {
    @content;
    }
}

//ipad and desktop 
@mixin computer {
  @media screen and (min-width: 992px) {
    @content;
    }
}