.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stack-sans-headline-light {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

section:hover {
  border-color: #e879f9;
}

footer {
  background-color: #e3e3e3;
  font-family: "Rammetto One", sans-serif;
  font-style: normal;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  section {
    border-radius: 5px;
    box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 3px;
  }
  section h1 {
    color: #e879f9;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    border-bottom: solid 1px #D2D2CF;
    padding-bottom: 10px;
  }
  section p {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: 19px;
  }
  section:first-child {
    padding: 0 0;
  }
  .personal__banner {
    background-image: linear-gradient(190deg, #e879f9, #fef3c7);
    border-radius: 5px;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 85px 5px;
  }
  .personal__banner .personal__photo {
    border-radius: 100px;
    width: 35%;
  }
  .personal__banner .personal__greeting {
    margin-bottom: 0;
  }
  .personal__banner .personal__greeting span {
    color: #844d52;
  }
  .personal__banner .personal__tagline {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: normal;
    text-align: center;
  }
  .personal__banner__button {
    background-color: #e879f9;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    text-align: center;
  }
  .personal__banner__button--internal {
    color: white;
    text-decoration: none;
  }
  .about__name {
    font-family: "Rammetto One", sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }
  .about__info {
    font-family: "Rammetto One", sans-serif;
    line-height: 25px;
  }
  .skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .skill__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #f3f4f6;
    border: 1px solid grey;
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }
  .skill__icon {
    width: 35px;
    padding: 10px 0;
  }
  .skill__name {
    font-family: "Rammetto One", sans-serif;
    font-weight: 600;
    color: #111827;
  }
  .hobby__caption {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: 19px;
  }
  .interest {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: "Rammetto One", sans-serif;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .interest__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    background-color: #f3f4f6;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 16px;
    padding-top: 10px;
  }
  .interest__detail .interest__icon {
    height: 40px;
  }
  .interest__detail-info {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .interest__detail-info h6 {
    font-size: 21px;
    margin-bottom: 1%;
    margin-top: 5%;
  }
  .interest__detail-info p {
    margin-top: 5%;
    font-weight: 400;
    font-size: 19px;
  }
  .interest__detail .interest__icon {
    padding-right: 5%;
  }
  .contact {
    font-size: 15px;
    font-family: arial;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }
  .contact__info h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    font-size: 21px;
  }
  .contact__icon {
    height: 27px;
    margin-right: 3%;
  }
  .contact__info {
    width: 100%;
    /*h6{
      font-size: 19px;
    }*/
  }
  .contact__info--external {
    font-family: arial;
    font-size: 19px;
    margin-top: 7px;
    width: 100%;
    padding-left: 1%;
    text-decoration: none;
  }
}
@media screen and (min-width: 426px) and (max-width: 992px) {
  section {
    border-radius: 5px;
    box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 3px;
  }
  section h1 {
    color: #e879f9;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    border-bottom: solid 1px #D2D2CF;
    padding-bottom: 10px;
  }
  section p {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: 19px;
  }
  section:first-child {
    padding: 0;
  }
  .personal__banner {
    background-image: linear-gradient(190deg, #e879f9, #fef3c7);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 85px 5px;
  }
  .personal__banner .personal__photo {
    border-radius: 100px;
    width: 35%;
  }
  .personal__banner .personal__greeting {
    border: 0;
    margin-bottom: 0;
  }
  .personal__banner .personal__greeting span {
    color: #844d52;
  }
  .personal__banner .personal__tagline {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: normal;
    text-align: center;
  }
  .personal__banner__button {
    background-color: #e879f9;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    text-align: center;
  }
  .personal__banner__button--internal {
    color: white;
    text-decoration: none;
  }
  .about__name {
    font-family: "Rammetto One", sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }
  .about__info {
    font-family: "Rammetto One", sans-serif;
    line-height: 25px;
  }
  .skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .skill__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #f3f4f6;
    border: 1px solid grey;
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }
  .skill__icon {
    width: 35px;
    padding: 10px 0;
  }
  .skill__name {
    font-family: "Rammetto One", sans-serif;
    font-weight: 600;
    color: #111827;
  }
  .hobby__caption {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: 19px;
  }
  .interest {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: "Rammetto One", sans-serif;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .interest__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    width: 40%;
    background-color: #f3f4f6;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 16px;
    padding-top: 10px;
  }
  .interest__detail .interest__icon {
    height: 40px;
  }
  .interest__detail-info {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .interest__detail-info h6 {
    font-size: 21px;
    margin-bottom: 1%;
    margin-top: 5%;
  }
  .interest__detail-info p {
    margin-top: 5%;
    font-weight: 400;
    font-size: 19px;
  }
  .interest__detail .interest__icon {
    padding-right: 5%;
  }
  .contact {
    font-size: 15px;
    font-family: arial;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }
  .contact__info h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    font-size: 21px;
  }
  .contact__icon {
    height: 27px;
    margin-right: 3%;
  }
  .contact__info {
    width: 100%;
    /*h6{
      font-size: 19px;
    }*/
  }
  .contact__info--external {
    font-family: arial;
    font-size: 19px;
    margin-top: 7px;
    width: 100%;
    padding-left: 1%;
    text-decoration: none;
  }
}
@media screen and (min-width: 992px) {
  section {
    border: 3px solid transparent; /*Initial border */
    transition: border-color 0.65s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 13px;
  }
  section h1 {
    color: #e879f9;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    border-bottom: solid 1px #D2D2CF;
    padding-bottom: 10px;
  }
  section p {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: 20px;
  }
  section:first-child {
    padding: 0;
  }
  .personal__banner {
    background-image: linear-gradient(190deg, #e879f9, #fef3c7);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 5px;
    margin: 0;
  }
  .personal__banner .personal__photo {
    border-radius: 100px;
    width: 14%;
  }
  .personal__banner .personal__greeting {
    margin-bottom: 0;
  }
  .personal__banner .personal__greeting span {
    color: #844d52;
  }
  .personal__banner .personal__tagline {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 28px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: normal;
    text-align: center;
  }
  .personal__banner__button {
    background-color: #e879f9;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    text-align: center;
  }
  .personal__banner__button--internal {
    color: white;
    text-decoration: none;
  }
  .about__name {
    font-family: "Rammetto One", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 26px;
  }
  .about__info {
    font-family: "Rammetto One", sans-serif;
    line-height: 27px;
  }
  .skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .skill__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #f3f4f6;
    border: 1px solid grey;
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }
  .skill__icon {
    width: 35px;
    padding: 10px 0;
  }
  .skill__name {
    font-family: "Rammetto One", sans-serif;
    font-weight: 600;
    color: #111827;
  }
  .hobby__caption {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: 19px;
  }
  .interest {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: "Rammetto One", sans-serif;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .interest__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    width: 40.5%;
    background-color: #f3f4f6;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px 5px;
    padding: 10px 10px;
  }
  .interest__detail .interest__icon {
    height: 40px;
  }
  .interest__detail-info {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .interest__detail-info h6 {
    font-size: 21px;
    margin-bottom: 1%;
    margin-top: 5%;
  }
  .interest__detail-info p {
    font-weight: 400;
    margin-top: 2%;
  }
  .interest__detail .interest__icon {
    padding-right: 5%;
  }
  .contact {
    font-size: 15px;
    font-family: arial;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
  }
  .contact__info h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    font-size: 20px;
  }
  .contact__icon {
    height: 25px;
  }
  .contact__info {
    width: 100%;
  }
  .contact__info--external {
    font-family: arial;
    font-size: 21px;
    margin-top: 7px;
    width: 100%;
    padding-left: 1%;
    text-decoration: none;
  }
}

/*# sourceMappingURL=style.css.map */
