@use './partials/font-dimensions' as fd;
@use './partials/media-queries' as mq;
.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.stack-sans-headline-light {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
section:hover {
  //border:1px solid #e879f9;
  border-color: #e879f9;
}
footer {
  background-color: #e3e3e3;
  font-family: "Rammetto One", sans-serif;
  font-style: normal;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

@mixin flex-row-mixin() {
  display: flex;
  flex-direction: row;
}
@mixin flex-col-mixin() {
  display: flex;
  flex-direction: column;
}

@mixin double-paddings($ver-padding, $hor-padding){
  padding: $ver-padding $hor-padding;
}

@include mq.older-phone{
section {
  //border: solid 1px #D2D2CF;
  border-radius:5px;
  box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-top: 3px;
  h1 {
    color: #e879f9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    border-bottom: solid 1px #D2D2CF;
    padding-bottom: 10px;

  }
  p {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: fd.$para-text-size;
  }
}
section:first-child {
  @include double-paddings(0, 0);
}  
.personal{
  &__banner{
    background-image: linear-gradient(190deg, #e879f9, #fef3c7);
    border-radius: 5px;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    @include flex-col-mixin();
    align-items: center;
    //justify-content: center;
    margin:0;
    @include double-paddings(85px, 5px);

    .personal__photo{
      border-radius: 100px;
      width:35%
    }
    .personal__greeting{
      margin-bottom:0;

      span {
        color: #844d52;
      }
    }

    .personal__tagline{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right: 10px;
    font-size: 22px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: normal;
    text-align: center;

    }
    &__button {
      background-color:#e879f9;
      border: none;
      border-radius: 5px;
      box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);;
      color: white;
      font-size: 18px;
      @include double-paddings(10px, 22px);
      text-align: center; 

      &--internal{
        color:white;
        text-decoration: none;
      }
    }
   }
 }
 
 .about{
  &__name{
    font-family: "Rammetto One", sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }
  &__info{
    font-family: "Rammetto One",sans-serif;
    line-height: 25px;
   }
 }

.skill {
    //display: flex;
    //flex-direction: row;
    @include flex-row-mixin();
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  &__type{
    @include flex-col-mixin();
    align-items: center;
    width: 30%;
    background-color: #f3f4f6;
    border: 1px solid grey;
    margin: 5px 5px;
    @include double-paddings(10px, 10px);
    border-radius: 5px;
  }
    &__icon{
      width: 35px;
      @include double-paddings(10px, 0);
    }
    &__name{
      font-family: "Rammetto One", sans-serif;
      font-weight: 600;
      color: #111827;
    }
}

.hobby__caption{
  font-family: "Rammetto One", sans-serif;
  font-style: normal;
  font-size: 19px;
}

.interest{ 
  @include flex-row-mixin();
  list-style-type: none;
  font-family: "Rammetto One", sans-serif;
  flex-wrap: wrap;
  padding-left: 0;
  
  &__detail{
    @include flex-row-mixin();
    align-items: center;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    background-color: #f3f4f6;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px 5px;
    padding-bottom: 10px;
    padding-left: 10px ;
    padding-right: 16px;
    padding-top:10px;
    
    .interest__icon{
     height: 40px;
    }

    &-info {
    font-style: normal;
    @include flex-col-mixin();
    justify-content: flex-start;
    margin: 0;
      h6 {
      font-size: fd.$para-heading-size;
      margin-bottom: 1%;
      margin-top: 5%;
      }
      p {
        margin-top: 5%;
        font-weight: 400;
        font-size: fd.$para-text-size;
      }
    }
  }

  &__detail .interest__icon{
    padding-right:5%;
  }
}

.contact {
  font-size: 15px;
  font-family: arial;
  margin-top: 1%;
  margin-bottom: 5%;
  @include flex-row-mixin();
  margin-left: 0;
  margin-right: 0;

  &__info h6 {    
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    font-size: fd.$para-heading-size;
    }

  &__icon{
    height: 27px;
    margin-right: 3%;   
    }  
  
  &__info{
    width: 100%;

    /*h6{
      font-size: 19px;
    }*/
    &--external {
    font-family: arial;
    font-size: fd.$para-text-size;
    margin-top: 7px;
    width: 100%; 
    padding-left: 1%;
    text-decoration: none;
    }
  }
}
 //
 
}

//phone
@include mq.phone{
section {
  //border: solid 1px #D2D2CF;
  border-radius:5px;
  box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-top: 3px;
  h1 {
    color: #e879f9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    border-bottom: solid 1px #D2D2CF;
    padding-bottom: 10px;

  }
  p {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: fd.$para-text-size;
  }
}
section:first-child {
  padding:0;
}  
.personal{
  &__banner{
    background-image: linear-gradient(190deg, #e879f9, #fef3c7);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    @include flex-col-mixin();
    align-items: center;
    //justify-content: center;
    margin:0;
    @include double-paddings(85px, 5px);

    .personal__photo{
      border-radius: 100px;
      width:35%
    }
    .personal__greeting{
      border: 0;
      margin-bottom:0;

      span {
        color: #844d52;
      }
    }

    .personal__tagline{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right: 10px;
    font-size: 22px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: normal;
    text-align: center;

    }
    &__button {
      background-color:#e879f9;
      border: none;
      border-radius: 5px;
      box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);;
      color: white;
      font-size: 18px;
      @include double-paddings(10px, 22px);
      text-align: center; 

      &--internal{
        color:white;
        text-decoration: none;
      }
    }
   }
 }
 
 .about{
  &__name{
    font-family: "Rammetto One", sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }
  &__info{
    font-family: "Rammetto One",sans-serif;
    line-height: 25px;
   }
 }

.skill {
    //display: flex;
    //flex-direction: row;
    @include flex-row-mixin();
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  &__type{
    @include flex-col-mixin();
    align-items: center;
    width: 30%;
    background-color: #f3f4f6;
    border: 1px solid grey;
    margin: 5px 5px;
    @include double-paddings(10px, 10px);
    border-radius: 5px;
  }
    &__icon{
      width: 35px;
      @include double-paddings(10px, 0);
    }
    &__name{
      font-family: "Rammetto One", sans-serif;
      font-weight: 600;
      color: #111827;
    }
}
.hobby__caption{
  font-family: "Rammetto One", sans-serif;
  font-style: normal;
  font-size: 19px;
}
.interest{ 
  @include flex-row-mixin();
  list-style-type: none;
  font-family: "Rammetto One", sans-serif;
  flex-wrap: wrap;
  padding-left: 0;
  

  &__detail{
    @include flex-row-mixin();
    align-items: center;
    font-weight: 600;
    font-style: normal;
    width: 40%;
    background-color: #f3f4f6;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px 5px;
    padding-bottom: 10px;
    padding-left: 10px ;
    padding-right: 16px;
    padding-top:10px;
    
    .interest__icon{
    height: 40px;
    }

    &-info {
    font-style: normal;
    @include flex-col-mixin();
    justify-content: flex-start;
    margin: 0;
      h6 {
      font-size: fd.$para-heading-size;
      margin-bottom: 1%;
      margin-top: 5%;
      }
      p {
        margin-top: 5%;
        font-weight: 400;
        font-size: fd.$para-text-size;
      }
    }
  }

  &__detail .interest__icon{
    padding-right:5%;
  }
}


.contact {
  font-size: 15px;
  font-family: arial;
  margin-top: 1%;
  margin-bottom: 5%;
  @include flex-row-mixin();
  margin-left: 0;
  margin-right: 0;


  &__info h6 {    
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    font-size: fd.$para-heading-size;
    }
   
  &__icon{
    height: 27px;
    margin-right: 3%;   
    }  
  
  &__info{
    width: 100%;

    /*h6{
      font-size: 19px;
    }*/
    &--external {
    font-family: arial;
    font-size: fd.$para-text-size;
    margin-top: 7px;
    width: 100%; 
    padding-left: 1%;
    text-decoration: none;
    }
  }
}
 //
 
}

@include mq.computer{
  section {
  //border: solid 1px #D2D2CF;
  border: 3px solid transparent;  /*Initial border */ 
  transition: border-color 0.65s ease-in-out;
  border-radius:5px;
  box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-top: 13px;

  h1 {
    color: #e879f9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    border-bottom: solid 1px #D2D2CF;
    padding-bottom: 10px;
  }

  p {
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
    font-size: 20px;
  }
}
section:first-child {
  padding:0;
}
.personal{
  &__banner{
    background-image: linear-gradient(190deg, #e879f9, #fef3c7);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    @include flex-col-mixin();
    align-items: center;
    @include double-paddings(85px, 5px);
    margin: 0;

    .personal__photo{
      border-radius: 100px;
      width: 14%
    }
    .personal__greeting{
      margin-bottom:0;

      span {
        color: #844d52;
      }
    }

    .personal__tagline{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right: 10px;
    font-size: 28px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: normal;
    text-align: center;

    }
    &__button {
      background-color:#e879f9;
      border: none;
      border-radius: 5px;
      box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);;
      color: white;
      font-size: 18px;
      @include double-paddings(10px, 22px);
      text-align: center; 

      &--internal{
        color:white;
        text-decoration: none;
      }
    }
   }
 }
 .about{
  &__name{
      font-family: "Rammetto One", sans-serif;
      font-weight: 600;
      text-align: center;
      font-size: 26px;
  }

  &__info{
    font-family: "Rammetto One",sans-serif;
    line-height: 27px;
    }
  }
  
.skill {
    @include flex-row-mixin();
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  &__type{
    @include flex-col-mixin();
    align-items: center;
    width: 30%;
    background-color: #f3f4f6;
    border: 1px solid grey;
    margin: 5px 5px;
    @include double-paddings(10px, 10px);
    border-radius: 5px;
    }

    &__icon{
      width: 35px;
      padding: 10px 0;
    }
    &__name{
      font-family: "Rammetto One", sans-serif;
      font-weight: 600;
      color: #111827;
    }
}

.hobby__caption {
  font-family: "Rammetto One", sans-serif;
  font-style: normal;
  font-size: 19px;
}

.interest{ 
  @include flex-row-mixin();
  list-style-type: none;
  font-family: "Rammetto One", sans-serif;
  flex-wrap: wrap;
  padding-left: 0;

  &__detail{
    @include flex-row-mixin();
    align-items: center;
    font-weight: 600;
    font-style: normal;
    width: 40.5%;
    background-color: #f3f4f6;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px 5px;
    @include double-paddings(10px, 10px);
    
    .interest__icon{
      height: 40px;
    }

    &-info {
    font-style: normal;
    @include flex-col-mixin();
    justify-content: flex-start;
    margin: 0;
      h6 {
      font-size: fd.$para-heading-size;
      margin-bottom: 1%;
      margin-top: 5%;
      }
      p {
        font-weight: 400;
        margin-top: 2%;
      }
    }
  }

  &__detail .interest__icon{
    padding-right:5%;
  }
}

.contact {
  font-size: 15px;
  font-family: arial;
  margin-top: 1%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  @include flex-row-mixin(); 

  &__info h6 {    
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    font-size: 20px;
    }
   
  &__icon{
    height: 25px;    
    }  
  
  &__info{
    width: 100%;
    
    &--external {
    font-family: arial;
    font-size:fd.$para-heading-size;
    margin-top: 7px;
    width: 100%; 
    padding-left: 1%;
    text-decoration: none;
    }
  }
 }
}
